export PROJECT_DIR=${PWD}
export SECRETS_DIR=${PROJECT_DIR}/secrets
export WORK_DIR=${PROJECT_DIR}/work
export TCE_LAB_DIR=${HOME}/workspace/homelab/tce-lab

PATH=${PROJECT_DIR}/bin:${PATH}

export PARAMS_YAML=${PROJECT_DIR}/secrets/params.yml
watch_file ${PARAMS_YAML}

watch_file ${SECRETS_DIR}/kubeconfig
if [[ -f ${SECRETS_DIR}/kubeconfig ]] ; then
  export KUBECONFIG=${SECRETS_DIR}/kubeconfig
fi

export VAULT_FQDN=$(yq e .vault.fqdn $PARAMS_YAML)
export VAULT_ADDR=https://$VAULT_FQDN

